.active {
    border-radius: 0px !important;
}

.nav-link {
    border-radius: 0px !important;
    transition: none !important;
}

/* Remove a borda de todos os links no hover, EXCETO se ele tiver a classe .active */
.nav-link:not(.active):hover {
    border-radius: 0px !important;
    border-color: transparent !important;
    background-color: transparent !important;
}